<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title,:required => true  %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :required => true %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="field">
    <%#= f.label :please_select_category %>
   <%= f.select :category, fetch_category   %>
    <%#= f.select :category_id, options_for_select(fetch_category) %>
            <span class="highlight"></span>
             <%= f.label :category_id, 'please_select_category' %>
    <%#= f.collection_select(:categories, fetch_category, :category_id, 
     <%#= file_field_tag "avatar[]", multiple: true %>
   <%#= ff.select :experience, experience,{:prompt => "Select Experience"} %>
    </div>
  <div class="actions">
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
